#banner {
    padding: 10em 0 10em 0;
    text-align: center;
    border-top: 0.5em solid #5385c1;
    border-bottom: 0.5em solid #5385c1;
    background-image: url(banner.jpg);
    color: aliceblue;
}

#one h1 {
    text-align: center;
    padding: 2em;
}

.inner {
    max-width: 75em;
    margin: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex.flex-3 article {
    position: relative;
    width: 28%;
}

#two {
    margin: 3em;
    text-align: center;
    border-bottom: 0.5em solid #5385c1;
}